body{
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}
.home:hover{
    background-color:transparent;
    color:  #ff0f0f ;
    font-weight: 250px;
    border-bottom: 2px solid  #ff0f0f;
    text-align: center;
}
.services:hover{
    background-color:transparent;
    color:  #ff0f0f ;
    font-weight: 250px;
    border-bottom: 2px solid   #ff0f0f;
    text-align: center;
}
.about:hover{
      background-color:transparent;
    color:  #ff0f0f;
    font-weight: 250px;
    border-bottom: 2px solid  #ff0f0f;
    text-align: center;
}
.gallery:hover{
      background-color:transparent;
    color:  #ff0f0f;
    font-weight: 250px;
    border-bottom: 2px solid  #ff0f0f;
    text-align: center;
}
.contact:hover{
     background-color:transparent;
    color:  #ff0f0f;
    font-weight: 250px;
    border-bottom: 2px solid  #ff0f0f;
    text-align: center;
}
.navbar{
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 35px;
}
.home{
    color: rgb(189, 190, 194);
    margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
    text-decoration: none;
    font-size: 20px;
}
.services{
    color: rgb(189, 190, 194);
        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
     text-decoration: none;
      font-size: 20px;
}
.about{
    /* color: rgb(230, 235, 245); */
    color: rgb(189, 190, 194);

        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
     text-decoration: none;
      font-size: 20px;
}
.gallery{
    /* color: rgb(230, 235, 245); */
    color: rgb(189, 190, 194);

        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
     text-decoration: none;
      font-size: 20px;
}
.contact{
    color:rgb(189, 190, 194);
        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
     text-decoration: none;
      font-size: 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
     background: opacity(0.1),rgba(163, 163, 163, 0.842);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
     border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    height: 60px;
}
li{
    list-style: none;
}
.abc{
    background-color: rgb(235, 57, 57);
    color: azure;
    text-decoration: none;
    padding-left:12px ;
    padding-right:12px ;
    padding-top:8px ;
    padding-bottom:8px ;
    border-radius: 4px;
    font-size: 20px;
    font-weight:600;
}
button{
    background: transparent;
    border: none;
    margin-right: 45px;
    transition: all 0.4s ease;
    cursor: pointer;
}
button:hover{
     box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
     transform: translateY(-3px);
}
.section1{
    display: flex;
    width: 100%;
    height: 80vh;
}
.left{
    padding-left: 100px;
    padding-top: 100px;
    flex: 1;
}
.left h1{
    font-size: 70px;
    white-space: nowrap;
    color: #ff0f0f;
    margin-left: 400px;
}
.section1 ul{
    list-style: none;
    font-size: 20px;
    line-height: 55px;
  }
.heading-1{
    font-size: 20px;
    color: #fff;
    padding-bottom: 25px;
    border-bottom: 2px solid #ff0f0f;
    margin-bottom: 13px;
}
#main-content{
    margin-top: 20px;
}
#captch{
    width: 400px;
    height: 250px;
    margin-top: 50px;
    position: relative;
    transform: scaleX(-1);
    animation: car 5s linear infinite;
}
@keyframes car{
    from{
        transform: translateX(1000px);
    }
    to{
        transform:translateX(-500px) ;
    }
}