*{
    margin: 0px;
    padding: 0px;
    font-family: "poppins",sans-serif;
}
/* preloader */
.car{
    width: 150px;
    height: 150px;
    transform: scaleX(-1);
    color: rgb(139, 20, 12);
    position: relative;
    bottom: 13px;
    right: 90px;
    animation: move-car 1.3s linear infinite;
    animation-iteration-count: infinite;
    z-index: 2;
    transform: translate3d(0,-5px,0);
}
@keyframes move-car{
    0%{ left: -350px; }
    25%{}
    50%{}
    100%{left: 70px;}
}
#preloader{
    background-color: black;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.road{
    width:500px ;
    height: 200px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}
.mainline{
    height: 2px;
    width: 600px;
    position: absolute;
    left: 200px;
    bottom: 80px;
    background-color: rgb(248, 248, 248);
    animation: mainline 1s linear infinite;
}
@keyframes mainline{
    0%{background-color: rgb(246, 253, 255);}
    50%{
        background-color: rgb(214, 147, 121);
    }
    100%{
        background-color: rgb(248, 248, 248);
    }
}
.speed-lines{
    background-color: transparent;
    z-index: 1;
    width: 300px;
    height: 200px;
    position: absolute;
    bottom: 405px;
    left: 510px;
    gap: 3px;
}
.speed-lines span{
    position: relative;
    top: 150px;
    left:5px;
    display: block;
    background-color: rgb(218, 218, 218);
    height: 2px;
    width: 40px;
    opacity: 1;
    animation: move-speedlines 0.5s linear infinite;
    margin-bottom: 16px;
}
@keyframes move-speedlines{
    0%{transform: translateX(5px); opacity: 0.8;}
    50%{opacity: 1;}
    100%{transform: translateX(300px);opacity: 0;}
}
.speed-lines span:nth-child(1) { animation-delay: 0.2s; }
.speed-lines span:nth-child(2) { animation-delay: 0.3s; }
.speed-lines span:nth-child(3) { animation-delay: 0.5s; }
#brand{
    color: rgb(151, 93, 21);
    font-size: 30px;
    font-weight: bolder;
    display: inline-block;
    position: relative;
    right: 400px;
    top: 40px;
    animation: mycompany 2s linear infinite;
}
@keyframes mycompany{
    0%{color: rgb(199, 180, 155);}
    50%{color: rgb(189, 82, 74);}
    100%{color: rgb(143, 86, 89);}
}
/* this my body */
body{
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}
.home:hover{
    background-color:transparent;
    color:  #ff0f0f ;
    font-weight: 250px;
    border-bottom: 2px solid  #ff0f0f;
    text-align: center;
}
.services:hover{
    background-color:transparent;
    color:  #ff0f0f ;
    font-weight: 250px;
    border-bottom: 2px solid   #ff0f0f;
    text-align: center;
}
.about:hover{
      background-color:transparent;
    color:  #ff0f0f;
    font-weight: 250px;
    border-bottom: 2px solid  #ff0f0f;
    text-align: center;
}
.gallery:hover{
      background-color:transparent;
    color:  #ff0f0f;
    font-weight: 250px;
    border-bottom: 2px solid  #ff0f0f;
    text-align: center;
}
.contact:hover{
     background-color:transparent;
    color:  #ff0f0f;
    font-weight: 250px;
    border-bottom: 2px solid  #ff0f0f;
    text-align: center;
}
.navbar{
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 35px;
}
.home{
    color: rgb(189, 190, 194);
    margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
    text-decoration: none;
    font-size: 20px;
}
.services{
    color: rgb(189, 190, 194);
        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
     text-decoration: none;
      font-size: 20px;
}
.about{
    /* color: rgb(230, 235, 245); */
    color: rgb(189, 190, 194);

        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
     text-decoration: none;
      font-size: 20px;
}
.gallery{
    /* color: rgb(230, 235, 245); */
    color: rgb(189, 190, 194);

        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
     text-decoration: none;
      font-size: 20px;
}
.contact{
    color:rgb(189, 190, 194);
        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
     text-decoration: none;
      font-size: 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
     background: opacity(0.1),rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
     border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    height: 60px;
}
li{
    list-style: none;
}
.abc{
    background-color:#ff0f0f;
    color: azure;
    text-decoration: none;
    padding-left:12px ;
    padding-right:12px ;
    padding-top:8px ;
    padding-bottom:8px ;
    border-radius: 4px;
    font-size: 20px;
    font-weight:600;
}
button{
    background: transparent;
    border: none;
    margin-right: 45px;
    transition: all 0.4s ease;
    cursor: pointer;
}
button:hover{
     box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
     transform: translateY(-3px);
}
.hero-section{
    height: 80vh;
}
#bumper{
    width: 800px;
    height: auto;
    object-fit: contain;
    position: fixed;
    right: -30%;
    top: 300px;
    animation: car-section-1 1.6s ease forwards;
    animation-direction: alternate-reverse;
    animation-iteration-count: 6;
    animation-timeline: scroll;
    transition: 
        /* transform 1.2s ease,
        clip-path 1.2s ease; */
    z-index: 0;
}
@keyframes car-section-1 {
    from {
        transform: translateX(40vw);
    }
    to {
        transform: translateX(0);
         rotate: 200px;
        
    }
}
.left{
    padding-left: 120px;
    padding-top: 100px;
    flex: 1;
}
.left h1{
    font-size: 90px;
    white-space: nowrap;
    color: #ff0f0f;
}
.section1 ul{
    list-style: none;
    font-size: 20px;
    line-height: 55px;
  }
.heading-1{
    font-size: 40px;
    color: #fff;
    border-bottom: 2px solid #ff0f0f;
    margin-bottom: 13px;
}
#main-content{
    margin-top: 20px;
}
.section1{
    display: flex;
    width: 100%;
    height: 80vh;
}
.right{
    margin-bottom: px;
    padding-left: 380px;
    padding-right: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}
#btn-last{
    background-color: #ff0f0f;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: all 1s ease;
}
#btn-last 
a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
#page-content {
    display: none;
}
