*{
    margin: 0px;
    padding: 0px;
    font-family: "poppins",sans-serif;
}
.contact-form{
    background: rgb(235, 57, 57);
    padding-left: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}
h3{
    margin-bottom: 15px;
    margin-left: 85px;
    padding-top: 15px;
    font-size: 25px;
    font-weight: 100;
}
input textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
}
.contact-form button{
    width: 350px;
    height: 60px;
    padding: 12px;
    font-size: 20px;
    margin-bottom: 13px;
    margin-left: 110px;
    background:rgb(102, 93, 93) ;
    color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 8px;
}
.contact-form button:hover{
    border: 1px solid black;
}
.med-box{
    width: 350px;
    height: 50px;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-left: 110px;
    border: none;
}
form{
    display: inline-block;
    margin-right: 320px; 
    padding-bottom: 25px;
    margin-left: 320px;
    margin-top: 110px;
}
body{
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
}
.home:hover{
    background-color:transparent;
    color:  #ff0f0f ;
    font-weight: 250px;
    border-bottom: 2px solid  #ff0f0f;
    text-align: center;
}
.services:hover{
    background-color:transparent;
    color:  #ff0f0f ;
    font-weight: 250px;
    border-bottom: 2px solid   #ff0f0f;
    text-align: center;
}
.about:hover{
      background-color:transparent;
    color:  #ff0f0f;
    font-weight: 250px;
    border-bottom: 2px solid  #ff0f0f;
    text-align: center;
}
.gallery:hover{
      background-color:transparent;
    color:  #ff0f0f;
    font-weight: 250px;
    border-bottom: 2px solid  #ff0f0f;
    text-align: center;
}
.contact:hover{
     background-color:transparent;
    color:  #ff0f0f;
    font-weight: 250px;
    border-bottom: 2px solid  #ff0f0f;
    text-align: center;
}
.navbar{
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 35px;
}
.home{
    color: rgb(189, 190, 194);
    margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
    text-decoration: none;
    font-size: 20px;
}
.services{
    color: rgb(189, 190, 194);
        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
     text-decoration: none;
      font-size: 20px;
}
.about{
    /* color: rgb(230, 235, 245); */
    color: rgb(189, 190, 194);

        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
     text-decoration: none;
      font-size: 20px;
}
.gallery{
    /* color: rgb(230, 235, 245); */
    color: rgb(189, 190, 194);

        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
     text-decoration: none;
      font-size: 20px;
}
.contact{
    color:rgb(189, 190, 194);
        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
     text-decoration: none;
      font-size: 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
     background: opacity(0.1),rgba(163, 163, 163, 0.842);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
     border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    height: 60px;
}
li{
    list-style: none;
}
.abc{
    background-color: rgb(235, 57, 57);
    color: azure;
    text-decoration: none;
    padding-left:12px ;
    padding-right:12px ;
    padding-top:8px ;
    padding-bottom:8px ;
    border-radius: 4px;
    font-size: 20px;
    font-weight:600;
}
button{
    background: transparent;
    border: none;
    margin-right: 45px;
    transition: all 0.4s ease;
    cursor: pointer;
}
button:hover{
     box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
     transform: translateY(-3px);
}
#era{
    font-size: 50px;
    margin-top: 100px;
    margin-left: 450px;
}