*{
    margin: 0px;
    padding: 0px;
    font-family: "poppins",sans-serif;}
body{
    background:linear-gradient(rgba(0,0,0,0.1)), url(/background\ home.jpg);
    font-family: "Organo";
}
.logo{
    font-size: 35px;
    padding-left: 20px;
    color: rgb(133,111,90);
    background-size: 100%;
}
.home:hover{
    background-color:transparent;
    color: #f5f3ef ;
    font-weight: 250px;
    border-bottom: 2px solid  #f5f3ef;
    text-align: center;
}
.projects:hover{
    background-color:transparent;
    color: #f5f3ef ;
    font-weight: 250px;
    border-bottom: 2px solid  #f5f3ef;
    text-align: center;
}
.about:hover{
      background-color:transparent;
    color: #f5f3ef;
    font-weight: 250px;
    border-bottom: 2px solid  #f5f3ef;
    text-align: center;
}
.contact:hover{
     background-color:transparent;
    color: #f5f3ef;
    font-weight: 250px;
    border-bottom: 2px solid  #f5f3ef;
    text-align: center;
}
a{
    text-decoration: none;
    padding-right: 30px;
    font-size: 20px;
    color: azure;
    font-weight: 900px;
}
.navbar{
    display: flex;
    align-items: center;
    padding-right: 30px;
}
.home{
    color: rgb(15, 18, 29);
    margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
}
.projects{
    color: rgb(15, 18, 29);
        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
}
.about{
    /* color: rgb(230, 235, 245); */
    color: rgb(15, 18, 29);

        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
}
.contact{
    color:rgb(15, 18, 29);
        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
}
.bar-logo{
    color:rgb(15, 18, 29) ;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
     background: opacity(0.1),rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
     border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    height: 60px;
}
li{
    list-style: none;
}
#name {
    font-size: 50px;
    font-weight: 700;
   color: rgb(133,111,90);
}
#lmn{
font-size: 50px;
    font-weight: 700;
   color: rgb(133,111,90);
}
#op{
    color: rgb(0, 0, 0);
}
#style{
    color:   rgb(133,111,90);
}
.main-part{
    padding-top: 0px;
    padding-right: 0px;
}
p{
   color: rgb(116,116,116);
    line-height: 1.8;
}
#abc{
    font-size: 50px;
    font-weight: 700;
   color: #8c6d2b;
}
.btn-transition{
    transition: all 0.4 ease;
    cursor: pointer;
}
.btn-transition:hover{
    transform: translateY(-5px);
}
.btn-primary{
    /* background-color:rgb(29, 29, 206); */
    Background:rgb(133,111,90);
    color:  rgb(255, 243, 243);
    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-right: 30px;
    text-align: center;
      box-shadow: 0 0 10px;
    rgba(0,123,255,0.6);
}
.btn-primary:hover{
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}
.btn-secondary{
    background-color: transparent;
    border-color:rgb(133,111,90);
    color: rgb(143, 122, 92);
    border-width: 2px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 16px;
      box-shadow: 0 0 10px;
    rgba(0,123,255,0.6);
}
.btn-secondary:hover{
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}
button{
    background-color: transparent;
    border-color: transparent;
}
.btn{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border-color:  #9c9dad;
    border: 4px solid;
    margin-right: 30px;
      box-shadow: 0 0 10px;
    rgba(0,123,255,0.6);
    transition: all 0.4 ease;
    cursor: pointer;
}
.btn:hover{
     transform: translateY(-5px);
    
}
u{
    color: #0830b1;
}
.github{
    /* color: rgb(218, 213, 213); */
    color:rgb(133,111,90);
    position: relative;
    left: 4px;
}
.github:hover{
    color:#8c6d2b;
    background: transparent;
}
.linkedin{
    color:rgb(133,111,90);
    position: relative;
    left: 4px;

}
.linkedin:hover{
     color: #8c6d2b;
}
.twitter{
    color: rgb(133,111,90);
    position: relative;
    left: 4px;
}
.twitter:hover{
     color: #8c6d2b;
}
#data{
    background: linear-gradient(rgba(0,0,0,0.01));
    height: 350px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 0 20px;
    rgba(0,123,255,0.6);
}
.image{
    height: 300px;
    width: 350px;
    background: transparent;
    border-radius: 50%;
    background-size: cover;
    position:relative;
    left: 1px;
}
section{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 80px;
}
#xyz{
    padding-right: 190px;
    max-width: 600px;
}
#profile{
    /* margin-right: 120px; */
    margin-left: -70px;
}


