*{
    margin: 0px;
    padding: 0px;
    font-family: "poppins",sans-serif;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.45)),url(/project1\ background.jpg);
    background-size: cover;
}
.logo{
    font-size: 35px;
    padding-left: 20px;
    background: linear-gradient(to right,#2a27e0, #1951b3, #0a35cf, #4938e0);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home:hover{
    background-color:transparent;
    /* color:#556cb8 ; */
    color: rgb(90, 140, 255);
    font-weight: 250px;
    border: 2px solid rgb(77, 77, 184);
    border-radius: 12px;
    text-align: center;
       box-shadow: 0 0 10px;
    rgba(0,123,255,0.6);
}
.projects:hover{
    background-color:transparent;
    /* color:#556cb8 ; */
    color: rgb(90, 140, 255);
    font-weight: 250px;
    border: 2px solid rgb(77, 77, 184);
    border-radius: 12px;
    text-align: center;
       box-shadow: 0 0 10px;
    rgba(0,123,255,0.6);
}
.about:hover{
    background-color:transparent;
    /* color:#556cb8 ; */
    color: rgb(90, 140, 255);
    font-weight: 250px;
    border: 2px solid rgb(77, 77, 184);
    border-radius: 12px;
    text-align: center;
       box-shadow: 0 0 10px;
    rgba(0,123,255,0.6);
}
.contact:hover{
    background-color:transparent;
    /* color:#556cb8 ; */
    color: rgb(90, 140, 255);
    font-weight: 250px;
    border: 2px solid rgb(77, 77, 184);
    border-radius: 12px;
    text-align: center;
       box-shadow: 0 0 10px;
    rgba(0,123,255,0.6);
}
a{
    text-decoration: none;
    padding-right: 30px;
    font-size: 20px;
    color: azure;
    font-weight: 900px;
}
.navbar{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.home{
    color: rgb(230, 235, 245);
    margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
}
.projects{
    color: rgb(230, 235, 245);
        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
}
.about{
    color: rgb(230, 235, 245);
        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
}
.contact{
    color: rgb(230, 235, 245);
        margin-right: 20px;
     padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 4px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(0,0,0,0.3));
    height: 60px;
}
li{
    list-style: none;
}
#name {
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    background-size: 200% ;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

    display: inline-block;
}

#style{
    /* color:rgb(29, 29, 206) ; */
    color: rgb(40, 90, 220);
}
.main-part{
    padding-top: 0px;
    padding-left: 0px;
}
p{
    /* color: azure; */
    color:rgb(220, 225, 235);
    line-height: 1.8;
}
#abc{
    /* color:azure; */
    color: rgb(220, 225, 235)
;
    font-style: normal;
    font-size: 30px;
}
.btn-primary{
    /* background-color:rgb(29, 29, 206); */
    Background: rgb(40, 90, 220);
    Text: rgb(255, 255, 255);

    border-radius: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-right: 30px;
    /* color:rgb(218, 213, 213); */
    text-align: center;
}
.btn-primary:hover{
     box-shadow: 0 0 10px;
    rgba(0,123,255,0.6);
    border: 1px solid rgb(176, 179, 196);
}
.btn-secondary{
    background-color: transparent;
    border-color:rgb(40, 90, 220) ;
    color: rgb(218, 213, 213);
    border-width: 2px;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    border-radius: 16px;
}
.btn-secondary:hover{
     box-shadow: 0 0 10px;
    rgba(0,123,255,0.6);
}
button{
    background-color: transparent;
    border-color: transparent;
}
.btn{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    border-color:  #9c9dad;
    border: 4px solid;
    margin-right: 30px;
     box-shadow: 0 0 10px;
    rgba(0,123,255,0.6);

}
u{
    color: #0830b1;
}
.github{
    /* color: rgb(218, 213, 213); */
    color: rgb(160, 170, 190);
    position: relative;
    left: 4px;
}
.github:hover{
    color: rgb(90, 140, 255);
    background: transparent;
}
.linkedin{
    color: rgb(160, 170, 190);
    position: relative;
    left: 4px;

}
.linkedin:hover{
     color: rgb(90, 140, 255);
}
.twitter{
    color: rgb(160, 170, 190);
    position: relative;
    left: 4px;
}
.twitter:hover{
     color: rgb(90, 140, 255);
}
#data{
    height: 350px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 0 20px;
    rgba(0,123,255,0.6);
}
.image{
    height: 350px;
    width: 400px;
    background: transparent;
    border-radius: 50%;
    background-size: cover;
    position:relative;
    left: 1px;
}
section{
    display: flex;
    align-items: center;
    margin-left: 90px;
    margin-top: 80px;
    margin-right: 0px;
}
#xyz{
    padding-right: 190px;
    max-width: 600px;
}
#profile{
    margin-left: -70px;
}
